
<main class="bg-zinc-200 dark:bg-zinc-900">
  <header class="text-zinc-200">
    <div (click)="darkmodeToggle()" class="fixed top-24 right-0 inline-block w-12 cursor-pointer rounded-l-lg bg-zinc-900 dark:bg-zinc-200 text-zinc-200 dark:text-zinc-900 p-2 text-3xl ">
      <i class="fa-solid fa-sun dark:hidden"></i>
      <i class="fa-solid fa-moon hidden dark:inline"></i>
    </div>
    <nav class="sticky z-10 flex top-0 bg-gradient-to-r from-rose-500 to-pink-500">
      <div class="flex items-center p-2 gap-2">
        <img src="../../assets/images/logo-inverted.png" width="50" alt="">
          <div class="font-bold text-2xl">
            tw:<span class="text-sky-900">mf</span>
          </div>
      </div>
      <!-- MOBILE ICON -->
      <div class="block md:hidden ml-auto pr-4 my-auto cursor-pointer">
        <div id="mobile-menu-button" (click)="mobilebutton()" class="peer">
        <div #rotate45right class="bg-zinc-200 rounded-full w-8 h-1 transition-all top-0"></div>
        <div #opacity class="bg-zinc-200 rounded-full w-8 h-1 mt-1 transition-all"></div>
        <div #rotate45left class="bg-zinc-200 rounded-full w-8 h-1 mt-1 transition-all -top-2"></div>
      </div>
      <!-- MOBILE DROPDOWN -->
      <div *ngIf="isMobileMenuOpen" class="absolute block bg-gradient-to-r from-rose-500 to-pink-500 w-full left-0 top-[62px]">
        <app-navbarcontent></app-navbarcontent>
      </div>
      <!-- MOBILE DROPDOWN -->
      </div>
      <!-- END MOBILE ICON -->
          <app-navbarcontent class="hidden flex-1 md:flex items-center justify-end"></app-navbarcontent>
    </nav>
    <app-header-image></app-header-image>
  </header>
  <app-headliners></app-headliners>
</main>
