<h2 class="mt-20">Lineup</h2>
<p>Follow the timetable and stage to ensure you don't miss your favorite artists</p>
<div class="mt-5 bg-zinc-800 py-4 px-2 text-zinc-200 relative rounded-lg">
  <div class="absolute top-0 left-1/2 w-4 ml-[-8px] h-full rounded-full bg-gradient-to-b from-sky-900 via-cyan-900 to-teal-900 ">
    <div class="sticky top-1/2">
      <div class="relative h-4 w-4 ">
        <div class="absolute h-4 w-4 animate-ping rounded-full bg-pink-500 opacity-75"></div>
        <div class="bg-rose-500 rounded-full relative h-4 w-4"></div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-8" *ngFor="let singer of singers;">
    <div><h4 class="p-2 bg-zinc-900 rounded-lg my-4 ">{{singer.date}}</h4></div>
    <div></div>
    <div class="text-right ">
      <div class="font-bold ">{{singer.primarysingername}}</div>
      <div class="text-zinc-400">{{singer.primarysingerdate}}</div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="font-bold ">{{singer.secondaysingername}}</div>
      <div class="text-zinc-400">{{singer.secondaysingerdate}}</div>
    </div>
    <div class="text-right ">
      <div class="font-bold ">{{singer.tertiarysingername}}</div>
      <div class="text-zinc-400">{{singer.tertiarysingerdate}}</div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="font-bold ">{{singer.name}}</div>
      <div class="text-zinc-400">{{singer.hours}}{{singer.stage}}</div>
    </div>
  </div>
</div>
