<div class="flex flex-col items-center justify-center h-[calc(100vh-200px)] min-h-[400px] bg-image-header bg-cover bg-center bg-fixed">
  <div class="bg-white/30 py-2 px-4 rounded-xl text-center backdrop-blur-md ">
    <div class="relative ">
      <img src="../../assets/images/logo.png" width="175" alt="">
      <div class="flex items-center justify-center mt-[-70px] mb-5">
        <div class="bg-pink-500 w-14 h-14 rounded-full flex items-center justify-center gap-1">
          <div class="h-2 w-1 bg-pink-300 rounded-full animate-wavey"></div>
          <div class="h-3 w-1 bg-pink-200 rounded-full animate-wavey animation-delay200"></div>
          <div class="h-4 w-1 bg-pink-100 rounded-full animate-wavey animation-delay150"></div>
          <div class="h-3 w-1 bg-pink-200 rounded-full animate-wavey animation-delay300"></div>
          <div class="h-2 w-1 bg-pink-300 rounded-full animate-wavey animation-delay75"></div>
        </div>
      </div>
    </div>
      <div class="text-5xl font-bold ">
          tw:<span class="text-sky-900">mf</span>
      </div>
  </div>
    <div class="font-bold mt-3 text-sm ">
         Keep me updated with news and promotions
    </div>
    <form class="mt-3 flex gap-2">
      <input type="email" placeholder="Email" name="" id="" class="rounded-sm border border-white/40 bg-white/30 backdrop-blur-md p-2 font-bold text-sky-900 placeholder-zinc-500 caret-pink-500 outline-pink-500 focus:outline">
      <button type="submit" class="cursor-pointer rounded-sm bg-pink-500 py-2 px-4 font-bold transition-colors hover:bg-sky-900 hover:shadow-lg hover:shadow-black/20">
        Subscribe
      </button>
    </form>
</div>
