.carouseul-image-0{
  background-image: url('../../assets/images/band1.jpg');
}
.carouseul-image-1{
  background-image: url('../../assets/images/band2.jpg');
}
.carouseul-image-2{
  background-image: url('../../assets/images/band3.jpg');
}
.carouseul-image-3{
  background-image: url('../../assets/images/band4.jpg');
}
.carouseul-image-4{
  background-image: url('../../assets/images/band5.jpg');
}
.carouseul-image-5{
  background-image: url('../../assets/images/band6.jpg');
}
.carouseul-image-6{
  background-image: url('../../assets/images/band7.jpg');
}
