<div class="max-w-screen-lg mx-auto mt-20 text-zinc-900 dark:text-zinc-200  ">
  <h2>Headliners</h2>
  <p>Experience the sonic delight from these made-up artists across 7 days that music fans are calling "one of the many gigs that will happen this year" </p>
  <div class="flex ">
    <div id="previous" class="text-5xl flex justify-center items-center  p-2 relative -top-8" >
      <i class="fas fa-angle-left cursor-pointer" (click)="previousCarousel()"></i>
    </div>
  <div id="carousel" class="scroll-smooth flex-1 mt-4 flex w-full gap-4 pb-5 snap-x overflow-x-auto " #carousel>
    <div class="min-w-[80%] md:min-w-[40%]" *ngFor="let singer of singers; let i = index">
      <div class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20 carouseul-image-{{i}}"></div>
      <h5 class="mt-2">{{singer.name}}</h5>
      <h6 class="">{{singer.date}}{{singer.hours}}{{singer.stage}}</h6>
    </div>
  </div>
  <div id="next" class="text-5xl flex justify-center items-center  p-2 relative -top-8">
    <i class="fas fa-angle-right cursor-pointer" (click)="nextCarousel()"></i>
  </div>
</div>
<app-lineup></app-lineup>
<app-tickets></app-tickets>
</div>

